.textLogo {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: var(--mainColor);
  width: fit-content;
  height: fit-content;
  padding: 5px 15px;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.98);
}
