.headerMenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 620px) {
  .headerMenu {
    grid-area: 1/1/2/3;
  }
}

.trolley {
  position: relative;
}

.account,
.wishlist,
.trolley {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4rem;
}

.headerIcon {
  font-size: 2.5rem;
}

.notificationItems {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainColor);
  width: 2.3rem;
  font-size: 0.7em;
  font-weight: lighter;
  padding: 6px 2px;
  color: white;
  border-radius: 1px;
  position: absolute;
  right: 2rem;
  top: 1rem;
}
