.topDoubleBox {
  grid-area: 1 / 3 / 2 / 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--doubleBoxColor);
  background-image: var(--doubleBoxGradient);
}

.doubleBoxImage {
  grid-area: 1 / 1 / 4 /3;
  width: 59.5rem;
  height: 29.25rem;
}

.doubleBoxTitle {
  grid-area: 1 / 1 / 2 /2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--doubleBoxTitle);
}
.doubleBoxDescription {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: var(--doubleBoxDescription);
  font-weight: 300;
}

.doubleBoxButton {
  grid-area: 3 / 1 /4/ 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
