.itemContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-self: center;
  width: var(--appWidth);
  max-width: var(--appWidth);
  min-width: var(--square);
}

.productMain {
  display: grid;
  grid-template-rows: auto;
}

.productTitle {
  font-weight: lighter;
}

.productPrice {
  font-size: 2.5rem;
}
/* ----------Start IMAGE */

.productGallery {
  display: grid;
  grid-template-columns: 1fr 59.5rem;
  height: var(--heroSize);
  gap: 0 var(--gap);
}

.mainImage {
  grid-area: 1/2/2/3;
  width: var(--heroSize);
  height: var(--heroSize);
  justify-self: center;
}

.thumbsContainer {
  grid-area: 1/1/2/2;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: var(--gap);
}

.thumbImage {
  /* border: 1px solid var(--border); */
  width: calc(var(--heroSize) / 4 - var(--gap));
  height: calc(var(--heroSize) / 4 - var(--gap));
  align-self: center;
  justify-self: flex-start;
  border: 1px solid var(--border);
  border-radius: 4px;
}
/*---------- END Image */

.productSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsContainer {
  display: grid;
  gap: 1rem;
  width: 80%;
  min-width: 24rem;
}
