.smLftTopBox {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

@media only screen and (max-width: 1240px) {
  .smLftTopBox {
    grid-area: 2/ 3 / 3/ 4;
  }
}

@media only screen and (max-width: 920px) {
  .smLftTopBox {
    grid-area: 4/ 1 / 5/ 2;
  }
}
@media only screen and (max-width: 620px) {
  .smLftTopBox {
    grid-area: 3/ 1 / 4/ 2;
  }
}

.imageContainer {
  grid-area: 1 / 1 / 8 /8;
  width: 29.25rem;
  height: 29.25rem;
}

.secondaryTitle {
  grid-area: 6/1/7/8;
  align-self: flex-end;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.secondaryDescription {
  grid-area: 7/1/8/8;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  align-self: flex-start;
  font-size: 1.2rem;
}

.secondaryTitle,
.secondaryDescription {
  background-color: rgba(251, 172, 126, 0.9);
  text-align: center;
  justify-self: center;
  width: 90%;
  z-index: 1;
}
