.imageContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: var(--square);
  height: var(--square);
}

@media only screen and (max-width: 620px) {
  .imageContainer {
    margin-right: 0;
  }
}
.linkImage {
  grid-area: 1/1/8/8;
}

.itemImage {
  cursor: pointer;
  width: var(--square);
  height: var(--square);
  background-color: var(--mainBg);
}

.itemTitle {
  font-size: 1.3rem;
  grid-area: 7/1/8/8;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  align-self: flex-end;
  padding: 0.5rem 1rem;
  background-color: rgba(245, 244, 247, 0.9);
  text-align: center;
  z-index: 2;
}

.itemPrice {
  grid-area: 1/5/2/8;
  font-size: 1.4rem;
  width: max-content;
  padding: 5px var(--gap);
  align-self: baseline;
  justify-self: flex-end;
  margin: 0.5rem;

  background-color: var(--yellow);
  font-weight: bold;
  border-radius: 2px;
  z-index: 2;
}

.wishlistIcon {
  grid-area: 1/1/2/2;
  align-self: center;
  justify-self: center;
  font-size: 2rem;
  z-index: 2;
}

.wishlistIcon:hover {
  color: var(--pinkLove);
}
