.itemContainer {
  display: flex;
  background-color: orangered;
  min-width: var(--squareBox);
  min-height: var(--squareBox);
}

.itemContainer:not(:last-child) {
  margin-right: 10px;
}

.itemPrice {
  padding-left: 50px;
}
