:root {
  --appWidth: 1200px;
  --gap: 10px;
  --marginNormal: 10px;
  --squareBox: calc((var(--appWidth) / 4 - var(--gap)) + var(--gap) / 4);

  /* Colors Homepage */
  --navColor: var(--mainGradient);
  --mainGradient: linear-gradient(-90deg, #0575e6, #00f260);
  --mainColor: #0575e6;
  --textColor: #23292e;

  --secondaryColor: #fed2d1;

  --mainBoxGradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --mainBoxColor: #667eea;

  --doubleBoxColor: #d7e1ec;
  --doubleBoxGradient: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);

  --squareRightColor: rgb(218, 174, 173);
  --squareRightGradient: radial-gradient(
    circle,
    rgba(218, 174, 173, 1) 54%,
    rgba(175, 124, 121, 1) 84%
  );

  /* Font Sizes */
  --mainBoxDescription: 3rem;
  --mainBoxTitle: 6rem;

  --doubleBoxTitle: 3rem;
  --doubleBoxDescription: 1.3rem;
}
