:root {
  /** SIZES */
  --appWidth: 1200px;
  --gap: 10px;
  --heroSize: 59.5rem;
  --square: 29.25rem;
  --carouselSize: calc(var(--heroSize) + (var(--square) * 2) + (var(--gap) * 2));
  --items: 4;

  /**End SIZES*/

  /** FONT SZIES*/
  --heroTitle: 4.8rem;
  --rectangleTitle: 3.8rem;
  --squareFooterTitle: 1.8rem;

  /**NEW COLORS */
  --mainBg: #f5f4f7;
  --textColor: #1d1c1f;
  --yellow: #fcd833;
  --border: #d9dcdf;
  --mainColor: #0070e3;

  /**END COLORS */

  /* Colors Homepage */
  --navColor: var(--mainBg);
  --pinkLove: #e94c89;
  --redPrice: #e10411;
}

@media only screen and (max-width: 1240px) {
  :root {
    --appWidth: 900px;
    --carouselSize: calc(var(--heroSize) + var(--square) + var(--gap));
    --items: 3;
  }
}

@media only screen and (max-width: 920px) {
  :root {
    --appWidth: 600px;
    --carouselSize: calc(var(--square) * 2 + var(--gap));
    --items: 2;
  }
}

@media only screen and (max-width: 620px) {
  :root {
    --appWidth: 300px;
    --carouselSize: calc(var(--square));
    --items: 1;
  }
}
