:root {
  /** SIZES */
  --appWidth: 1200px;
  --gap: 10px;
  --heroSize: 59.5rem;
  --square: 29.25rem;
  --carouselSize: calc(var(--heroSize) + (var(--square) * 2) + (var(--gap) * 2));

  /**End SIZES*/

  /** FONT SZIES*/
  --heroTitle: 4.8rem;
  --rectangleTitle: 3.8rem;
  --squareFooterTitle: 1.8rem;

  /**NEW COLORS */
  --mainBg: #f9faf9;
  --textColor: #3b4043;
  --yellow: #fcd833;
  --border: #d9dcdf;
  --mainColor: #1973e8;

  /**END COLORS */

  /* Colors Homepage */
  --navColor: var(--mainGradient);
  --mainGradient: linear-gradient(-90deg, #0575e6, #764ba2);

  --greenCart: #008442;
  --pinkLove: #e94c89;
}

@media only screen and (max-width: 1240px) {
  :root {
    --appWidth: 900px;
    --carouselSize: calc(var(--heroSize) + var(--square) + var(--gap));
  }
}

@media only screen and (max-width: 920px) {
  :root {
    --appWidth: 600px;
    --carouselSize: calc(var(--square) * 2 + var(--gap));
  }
}

@media only screen and (max-width: 620px) {
  :root {
    --appWidth: 300px;
    --carouselSize: calc(var(--square));
  }
}
