.heroContainer {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  width: 59.5rem;
  height: 59.5rem;
  background-color: var(--mainBg);
  z-index: -2;
}

.imageContainer {
  grid-area: 1/1/12/12;
  z-index: -1;
}

.titleHero {
  grid-area: 2/2/3/11;
  justify-self: center;
  text-align: center;
  font-weight: 600;
  font-size: var(--heroTitle);
}

.descriptionHero {
  grid-area: 3/2/4/11;
  justify-self: center;

  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 1px;
}

.buttonHero {
  grid-area: 10/2/11/4;
}

.left {
  grid-area: 1/1/3/3;
}

.right {
  grid-area: 1/3/3/5;
}

@media only screen and (max-width: 1240px) {
  .left,
  .right {
    grid-area: 1/1/3/3;
  }
}

@media only screen and (max-width: 620px) {
  .left,
  .right {
    grid-area: 1/1/2/2;
    width: var(--square);
    height: var(--square);
  }
}

/** Colors*/
.titlePortal {
  color: #99f9da;
  background-color: rgba(255, 255, 255, 0.15);
}
