.navContainer {
  display: grid;
  justify-self: center;
  margin-bottom: var(--gap);
  background: var(--navColor);
  height: 45px;
  width: 100%;
}

@media only screen and (max-width: 620px) {
  .navContainer {
    display: none;
  }
}

.linkContainer {
  display: flex;
  align-items: space-between;
  justify-self: center;
  align-self: center;
  width: var(--appWidth);
}
