.headerContainer {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  justify-self: center;
  align-content: center;
  grid-auto-flow: column;
  width: var(--appWidth);
  height: 74px;
  /* background-color: lightsalmon; */
}
@media only screen and (max-width: 920px) {
  .headerContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: max-content;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 620px) {
  .headerContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
