.sectionHero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--gap);
  height: max-content;
  width: max-content;
}

@media only screen and (max-width: 1240px) {
  .sectionHero {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 920px) {
  .sectionHero {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 620px) {
  .sectionHero {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    max-width: 29.25rem;
  }
}
