.addToButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
}

.buttonIcon {
  margin-top: 0.2rem;
  margin-right: 0.5rem;
  font-size: 3rem;
}

.trolley {
  background-color: var(--greenCart);
}

.wishlist {
  background-color: var(--pinkLove);
}
