.addToButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
}

.buttonIcon {
  margin-top: 0.2rem;
  margin-right: 0.5rem;
  font-size: 3rem;
}

.trolley {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--yellow);
  color: var(--textColor);
}

.wishlist {
  border: 1px solid var(--pinkLove);
  color: var(--pinkLove);
}
